.pagination {
  margin: 3.5rem 0;

  a + a {
    margin-left: 0.75rem;
  }

  &_link {
    $size: 30px;
    display: inline-block;
    width: $size;
    height: $size;
    border-radius: 50%;
    border: 1px solid $clr-primary;
    color: $clr-primary;
    text-align: center;
    line-height: $size;
    font-size: 0.8rem;
    font-weight: 600;

    &.is-active {
      background: $clr-primary;
      color: #fff;
    }
  }
}
