*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  margin: 0;
  background: #fff;
  line-height: 1.6;
  font-family: $ff-primary;
  color: #333;
}

a {
  text-decoration: none;
  color: inherit;
}

button {
  cursor: pointer;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0 0 0.5rem 0;
  line-height: 1.1;
}

p {
  margin: 0 0 1rem 0;
}

input[type='search'],
input[type='text'],
input[type='email'],
input[type='password'] {
  padding: 0.5rem;
  font-family: inherit;
  font-size: 1rem;
}

textarea {
  font-size: inherit;
  font-family: inherit;
  resize: vertical;
  line-height: inherit;
}

svg {
  width: 1em;
  height: 1em;
  font-size: 1.5em;
}
